@charset "UTF-8";
@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
.sider {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100vh;
  background: rgba(10, 245, 202, 0.06);
  backdrop-filter: blur(0.3rem);
  transition: all 1s;
  overflow: visible;
}
.sider .num-rain {
  position: absolute;
  bottom: -40px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 120%;
  width: 20px !important;
}
.sider .num-rain i {
  line-height: 25px;
  animation: rain-move 10s linear infinite;
  user-select: none;
  transition: 0.5s;
  text-decoration: none;
  font-style: normal;
  text-shadow: 0 0 50px #0af5ca;
}
.sider .num-rain i:hover {
  color: green;
  text-shadow: 20px 20px 20px 20px #0af5ca;
}
.sider .num-rain i:nth-child(even) {
  opacity: 0.5;
}
.sider .sider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: min(15em, 15vh) 5px 0;
  margin-left: 20px;
  width: 60px !important;
}
.sider .sider-content hr {
  display: block;
  width: 80%;
}
.sider .sider-content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sider .sider-content .sider-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  text-align: center;
  overflow: auto;
}
.sider .sider-content .sider-themes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  padding: 1em 0;
  gap: 0.7em;
  border-radius: 1em;
}
.sider .sider-content .sider-themes span {
  font-weight: 300;
  font-size: 1.3rem;
}
.sider .sider-content .sider-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 0;
  gap: 0.75em;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: rgba(60, 179, 113, 0.02);
  border-radius: 1em;
}
.sider .sider-content .sider-icon {
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  width: 60%;
  color: white;
  border-color: white;
  font-weight: 100;
  transition: all 0.5s;
}
.sider .sider-content .sider-icon:hover {
  transform: scale(1.5);
}
.sider .sider-content .collapse-icon {
  width: 80% !important;
  position: relative;
  margin-bottom: 2em;
}

.collapsed {
  right: -70px;
}
.collapsed .collapse-icon {
  margin-right: 170px;
  margin-top: -50px;
}

@keyframes rain-move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300%);
  }
}
@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 18px;
  color: #ffffff;
  background: #1f1f1f;
  transition: 1.5s;
}

.sparticles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: table;
  background: linear-gradient(#081803, black, black);
  transition: all 1.5s;
}
.App .header {
  position: relative;
  position: relative;
  font-size: 5.5rem;
  font-weight: 600;
  text-transform: uppercase;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  user-select: none;
  background-image: url("/public/images/svg/top-wave.svg");
  background-size: 480px;
  background-repeat: repeat-x;
  z-index: 2;
}
.App .header .header-gif {
  position: absolute;
  top: 5px;
  left: 0;
  max-height: 130px;
}
.App .header .glitched-text {
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
}
.App .header .glitched-text:before {
  content: "ϺØtion ÐesÍgƝ";
  position: absolute;
  left: 0;
  animation: inherit;
  animation-duration: 650ms !important;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}
.App .header .glitched-text:after {
  content: "ϺØtion ÐesÍgƝ";
  position: absolute;
  left: 0;
  animation: inherit;
  animation-duration: 375ms !important;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}
.App .content {
  padding: 10px 10px;
  height: 100px;
}
.App .footer {
  display: table-row;
  text-align: center;
  height: 50px;
  width: 100%;
  padding: 5px 0;
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
