@charset "UTF-8";
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6rem 0 5rem;
  gap: 5em;
  color: white !important;
}
.content .card {
  position: relative;
  width: 500px;
  max-width: 98%;
  min-height: 275px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5em;
  font-family: sans-serif;
  transition: all 0.5s;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-position-y: 15px;
  box-shadow: 0 0 12px -3px #0af5ca;
}
.content .card:before {
  content: "";
  margin-bottom: -8.5rem;
  transition: 0.5s ease-out;
}
.content .card .card-title {
  display: block;
  width: 100% !important;
  font-size: 1.5rem;
  padding: 1em;
}
.content .card .card-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: -4.5em;
  border-top: 2px solid rgba(10, 245, 202, 0.4);
  padding: 1.5rem;
  font-size: 1.2rem;
  background: linear-gradient(black, rgba(0, 0, 0, 0));
  transition: 0.7s ease-out;
  backdrop-filter: blur(5px);
}
.content .card .card-content .card-button {
  overflow: hidden;
  width: fit-content;
  position: relative;
  display: block;
  font-size: 1rem;
  padding: 0.5em 0.5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: "Baskerville Old Face", serif;
  color: #0af5ca;
  border: 1px solid #0af5ca;
  border-radius: 0.2em;
  background: linear-gradient(to bottom, rgba(10, 245, 202, 0.1), #371d41) repeat scroll 0 0/100% 200% rgba(0, 0, 0, 0);
  transition: all 0.3s linear 0s;
}
.content .card .card-content .card-button:hover, .content .card .card-content .card-button:focus {
  background-position: 0 -102%;
  color: white;
}
.content .card .card-mark {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 30px;
  padding: 15px 5px 5px;
  right: 15px;
  bottom: 0;
  background: linear-gradient(black, rgba(0, 0, 0, 0.3));
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  transition: 0.7s ease-out;
  backdrop-filter: blur(2px);
}
.content .card-1 {
  background-image: url("/public/images/jpg/m-1.jpg");
}
.content .card-2 {
  background-image: url("/public/images/jpg/m-2.jpg");
}
.content .card-3 {
  background-image: url("/public/images/jpg/m-3.jpg");
}
.content .card-4 {
  background-image: url("/public/images/png/m-4.png");
}
.content .card-5 {
  background-image: url("/public/images/jpg/m-5.jpg");
}
.content .card:hover {
  background-position-y: 0;
}
.content .card:hover:before {
  margin-bottom: -7rem;
}
.content .card:hover .card-content {
  margin-bottom: 0;
}
.content .card:hover .card-mark {
  transform: scale(0.75);
  bottom: -50px;
}

.night:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  filter: brightness(10%);
  background-image: url("/public/images/jpg/b.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.day:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  filter: brightness(70%);
  background-image: url("/public/images/jpg/b.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
.sider {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100vh;
  background: rgba(10, 245, 202, 0.06);
  backdrop-filter: blur(0.3rem);
  transition: all 1s;
  overflow: visible;
}
.sider .num-rain {
  position: absolute;
  bottom: -40px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 120%;
  width: 20px !important;
}
.sider .num-rain i {
  line-height: 25px;
  animation: rain-move 10s linear infinite;
  user-select: none;
  transition: 0.5s;
  text-decoration: none;
  font-style: normal;
  text-shadow: 0 0 50px #0af5ca;
}
.sider .num-rain i:hover {
  color: green;
  text-shadow: 20px 20px 20px 20px #0af5ca;
}
.sider .num-rain i:nth-child(even) {
  opacity: 0.5;
}
.sider .sider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: min(15em, 15vh) 5px 0;
  margin-left: 20px;
  width: 60px !important;
}
.sider .sider-content hr {
  display: block;
  width: 80%;
}
.sider .sider-content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sider .sider-content .sider-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  text-align: center;
  overflow: auto;
}
.sider .sider-content .sider-scroll::-webkit-scrollbar {
  width: 2px;
}
.sider .sider-content .sider-scroll::-webkit-scrollbar-track {
  background: black;
}
.sider .sider-content .sider-scroll::-webkit-scrollbar-thumb {
  background-color: #0af5ca;
  border-radius: 20px;
}
.sider .sider-content .sider-themes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  padding: 1em 0;
  gap: 0.7em;
  border-radius: 1em;
}
.sider .sider-content .sider-themes a {
  text-decoration: none;
  font-weight: 300;
  font-size: 1.3rem;
  color: white;
  border-radius: 50%;
  padding: 0 0.5em 0.2em;
  transition: 0.2s;
}
.sider .sider-content .sider-themes a:hover {
  transform: scale(1.1);
}
.sider .sider-content .sider-themes a:first-of-type {
  padding: initial;
}
.sider .sider-content .sider-themes a:first-of-type:hover {
  transform: none;
}
.sider .sider-content .sider-themes .active-side-link {
  font-size: 1.7rem !important;
  border-bottom: 1px solid #0af5ca;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 139, 0.5);
}
.sider .sider-content .sider-themes .active-side-link:hover {
  transform: none;
}
.sider .sider-content .sider-themes span {
  font-weight: 300;
  font-size: 1.3rem;
}
.sider .sider-content .sider-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 0;
  gap: 0.75em;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: rgba(60, 179, 113, 0.02);
  border-radius: 1em;
}
.sider .sider-content .sider-icon {
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  width: 60%;
  color: white;
  border-color: white;
  font-weight: 100;
  transition: all 0.5s;
}
.sider .sider-content .sider-icon:hover {
  transform: scale(1.5);
}
.sider .sider-content .collapse-icon {
  width: 80% !important;
  position: relative;
  margin-bottom: 2em;
}

.collapsed {
  right: -70px;
}
.collapsed .collapse-icon {
  margin-right: 170px;
  margin-top: -50px;
}

@keyframes rain-move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300%);
  }
}
.chapter-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2 !important;
  margin: 6rem 0 5rem;
  padding: 0 4%;
}
.chapter-container .player-title {
  position: relative;
  color: white !important;
  text-align: center;
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(139, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}
.chapter-container .player-container {
  position: relative;
  width: 90%;
  max-width: 900px;
  padding: 2em 1.5em;
  border: 4px double rgba(139, 0, 0, 0.5);
  box-shadow: 0 0 25px -10px red;
  border-radius: 1rem;
  transition: all 0.4s ease-in-out;
}
.chapter-container .player-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-image: url("/public/images/gif/v-b.gif");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  filter: brightness(45%);
}
.chapter-container .player-container:hover, .chapter-container .player-container:focus {
  border-color: rgba(10, 245, 202, 0.5);
  box-shadow: 0 0 25px -10px rgba(10, 245, 202, 0.8);
}
.chapter-container .player-container:hover .player-title, .chapter-container .player-container:focus .player-title {
  border-color: rgba(10, 245, 202, 0.5);
}
.chapter-container .player-container .react-player {
  position: relative;
  z-index: 100;
  width: 90%;
}
.chapter-container .player-container .react-player video {
  border-radius: 10px;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 18px;
  color: #ffffff;
  background: black;
  transition: 1.2s;
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-track {
  background: black;
}
body::-webkit-scrollbar-thumb {
  background-color: #0af5ca;
  border-radius: 20px;
}

.sparticles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: table;
  background: linear-gradient(#081803, black, black);
  transition: all 1.5s;
}
.App .header {
  position: relative;
  background-image: url("/public/images/svg/top-wave.svg");
  background-size: 480px;
  background-repeat: repeat-x;
  z-index: 2;
}
.App .header-main {
  position: relative;
  font-size: 5.5rem;
  font-weight: 600;
  text-transform: uppercase;
  min-height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px 10px;
  user-select: none;
}
.App .header-main .header-gif {
  position: absolute;
  top: 5px;
  left: 0;
  max-height: 130px;
}
.App .header-main .glitched-text {
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
  color: white !important;
}
.App .header-main .glitched-text:before {
  content: "ϺØtion ÐesÍgƝ";
  position: absolute;
  left: 0;
  top: 0;
  animation: inherit;
  animation-duration: 650ms !important;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}
.App .header-main .glitched-text:after {
  content: "ϺØtion ÐesÍgƝ";
  position: absolute;
  left: 0;
  top: 0;
  animation: inherit;
  animation-duration: 375ms !important;
  clip-path: polygon(0 95%, 95% 95%, 95% 45%, 45% 0);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}
.App .header-1c {
  position: relative;
  font-size: 5.5rem;
  font-weight: 600;
  text-transform: uppercase;
  min-height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px 10px;
  user-select: none;
}
.App .header-1c .header-gif {
  position: absolute;
  top: 5px;
  left: 0;
  max-height: 130px;
}
.App .header-1c .glitched-text {
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
  color: white !important;
}
.App .header-1c .glitched-text:before {
  content: "1 Раздел";
  position: absolute;
  left: 0;
  top: 0;
  animation: inherit;
  animation-duration: 650ms !important;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}
.App .header-1c .glitched-text:after {
  content: "1 Раздел";
  position: absolute;
  left: 0;
  top: 0;
  animation: inherit;
  animation-duration: 375ms !important;
  clip-path: polygon(0 95%, 95% 95%, 95% 45%, 45% 0);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}
.App .header-2c {
  position: relative;
  font-size: 5.5rem;
  font-weight: 600;
  text-transform: uppercase;
  min-height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px 10px;
  user-select: none;
}
.App .header-2c .header-gif {
  position: absolute;
  top: 5px;
  left: 0;
  max-height: 130px;
}
.App .header-2c .glitched-text {
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
  color: white !important;
}
.App .header-2c .glitched-text:before {
  content: "2 Раздел";
  position: absolute;
  left: 0;
  top: 0;
  animation: inherit;
  animation-duration: 650ms !important;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}
.App .header-2c .glitched-text:after {
  content: "2 Раздел";
  position: absolute;
  left: 0;
  top: 0;
  animation: inherit;
  animation-duration: 375ms !important;
  clip-path: polygon(0 95%, 95% 95%, 95% 45%, 45% 0);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}
.App .header-3c {
  position: relative;
  font-size: 5.5rem;
  font-weight: 600;
  text-transform: uppercase;
  min-height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px 10px;
  user-select: none;
}
.App .header-3c .header-gif {
  position: absolute;
  top: 5px;
  left: 0;
  max-height: 130px;
}
.App .header-3c .glitched-text {
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
  color: white !important;
}
.App .header-3c .glitched-text:before {
  content: "3 Раздел";
  position: absolute;
  left: 0;
  top: 0;
  animation: inherit;
  animation-duration: 650ms !important;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}
.App .header-3c .glitched-text:after {
  content: "3 Раздел";
  position: absolute;
  left: 0;
  top: 0;
  animation: inherit;
  animation-duration: 375ms !important;
  clip-path: polygon(0 95%, 95% 95%, 95% 45%, 45% 0);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}
.App .header-4c {
  position: relative;
  font-size: 5.5rem;
  font-weight: 600;
  text-transform: uppercase;
  min-height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px 10px;
  user-select: none;
}
.App .header-4c .header-gif {
  position: absolute;
  top: 5px;
  left: 0;
  max-height: 130px;
}
.App .header-4c .glitched-text {
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
  color: white !important;
}
.App .header-4c .glitched-text:before {
  content: "4 Раздел";
  position: absolute;
  left: 0;
  top: 0;
  animation: inherit;
  animation-duration: 650ms !important;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}
.App .header-4c .glitched-text:after {
  content: "4 Раздел";
  position: absolute;
  left: 0;
  top: 0;
  animation: inherit;
  animation-duration: 375ms !important;
  clip-path: polygon(0 95%, 95% 95%, 95% 45%, 45% 0);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}
.App .header-5c {
  position: relative;
  font-size: 5.5rem;
  font-weight: 600;
  text-transform: uppercase;
  min-height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px 10px;
  user-select: none;
}
.App .header-5c .header-gif {
  position: absolute;
  top: 5px;
  left: 0;
  max-height: 130px;
}
.App .header-5c .glitched-text {
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
  color: white !important;
}
.App .header-5c .glitched-text:before {
  content: "5 Раздел";
  position: absolute;
  left: 0;
  top: 0;
  animation: inherit;
  animation-duration: 650ms !important;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}
.App .header-5c .glitched-text:after {
  content: "5 Раздел";
  position: absolute;
  left: 0;
  top: 0;
  animation: inherit;
  animation-duration: 375ms !important;
  clip-path: polygon(0 95%, 95% 95%, 95% 45%, 45% 0);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}
.App .footer {
  display: table-row;
  text-align: center;
  height: 35px;
  width: 100%;
  padding: 5px 0;
  font-size: 1rem;
  user-select: none;
}
.App .footer > div {
  position: relative;
}
.App .footer > div .footer-out-span {
  position: absolute;
  left: 20px;
  top: 0;
  color: red;
  font-weight: 700;
  z-index: 5;
  cursor: pointer;
  filter: invert(100);
  transition: 0.3s all;
}
.App .footer > div .footer-out-span:hover {
  filter: unset;
}

@keyframes out-anim {
  0% {
    text-shadow: 1px 1px 5px darkred;
  }
  100% {
    text-shadow: 1px 1px 50px darkred;
  }
}

/*# sourceMappingURL=main.css.map */
