@media (max-width: 700px) {
    .secretIn ion-icon {
        right: 20% !important;
    }
}
@media (max-width: 580px) {
    .secretIn ion-icon {
        right: 15% !important;
    }
}
@media (max-width: 375px) {
    .secretIn ion-icon {
        right: 12% !important;
    }
    .secretContainer div:first-child {
        font-size: 16px !important;
    }
}

.opacity {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
}

.secretContainer {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 5px;
    border-radius: 10%;
    color: white !important;
}

.secretContainer div:first-child {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: min(2em, 40px) min(3em, 30px);
    font-size: 18px;
    border-radius: 10%;
    border: 2px solid red;
    /*box-shadow: 16px 14px 20px rgba(139,0,0, 0.5);*/
    background: black;
    z-index: 9;
    color: inherit !important;
}
.secretContainer form div {
    margin: 30px 0 15px;
    color: inherit !important;
}

.secretBorderAnim {
    position: absolute;
    background-image: conic-gradient(
            #ff0052 20deg,
            transparent 120deg
    );
    width: 150%;
    height: 75%;
    z-index: 1;
    animation: rotate 3s linear infinite;
}

.secretIn {
    position: relative;
}

.secretIn input {
    border-radius: 7px;
    min-height: 2em;
    width: min(80%, 400px);
    text-align: center;
    font-size: 0.9em;
}
.wrongSecret input {
    box-shadow: 0 0 10px 10px red;
}

.secretIn ion-icon {
    position: absolute;
    font-size: 1.5em !important;
    top: 5px;
    right: 23%;
    color: darkred;
    cursor: pointer;
    transition: all 0.2s;
}
.secretIn ion-icon:hover {
    transform: scale(1.1);
}

.secretContainer button {
    font-size: 0.85em;
    background: black;
    min-width: 79px;
    min-height: 33px;
    padding: 5px 15px;
    margin: 5px 15px 0;
    color: inherit !important;
    border-radius: 5px;
    border: 1px solid darkred;
    box-shadow: 0 3px 5px 2px darkred;
    cursor: pointer;
    transition: all 0.3s;
}
.secretContainer button:hover {
    box-shadow: 0 3px 10px 5px darkred;
    transform: translateY(2px) scale(1.03);
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-60deg);
    }
    40% {
        transform: rotate(-135deg);
    }
    60% {
        transform: rotate(-210deg);
    }
    80% {
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}