$translate-text-positive: .0125em, .025em;
$translate-text-negative: -.025em, -.0125em;

@mixin header($glitch-color-1, $glitch-color-2, $glitch-color-3) {
  position: relative;
  font-size: 5.5rem;
  font-weight: 600;
  text-transform: uppercase;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;

  .header-gif {
    position: absolute;
    top: 5px;
    left: 0;
    max-height: 130px;
  }

  .glitched-text {
    position: relative;
    text-shadow: 0.05em 0 0 rgba($glitch-color-1, 0.75),
    -0.025em -0.05em 0 rgba($glitch-color-2, 0.75),
    0.025em 0.05em 0 rgba($glitch-color-3, 0.75);
    animation: glitch 500ms infinite;
  }
  .glitched-text:before {
    content: 'ϺØtion ÐesÍgƝ';
    position: absolute;
    left: 0;
    animation: glitch 650ms infinite;
    //clip-path: polygon(0 0, 100% 0, 100% 35%, 0 55%);
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate($translate-text-negative);
    //z-index: -1;
    opacity: .8;
  }
  .glitched-text:after {
    content: 'ϺØtion ÐesÍgƝ';
    position: absolute;
    left: 0;
    animation: glitch 375ms infinite;
    //clip-path: polygon(0 80%, 100% 55%, 100% 100%, 0 100%);
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate($translate-text-positive);
    //z-index: -1;
    opacity: .8;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}