@import "animations";
@import "content";
@import "header";
@import "sider";

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

$glitch-color-1: rgb(255, 0, 0);
$glitch-color-2: rgb(0, 255, 0);
$glitch-color-3: rgb(0, 0, 255);
@include gl-anim($glitch-color-1, $glitch-color-2, $glitch-color-3);

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-size: 18px;
  color: #ffffff;
  background: rgb(31,31,31);
  transition: 1.5s;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: black;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $lightgreen;
    border-radius: 20px;
  }
}

.sparticles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: table;
  background: linear-gradient(rgb(8, 24, 3),rgb(0,0,0),rgb(0,0,0));
  transition: all 1.5s;
  //@include flex;
  //flex-direction: column;

  .header {
    position: relative;
    background-image: url("/public/images/svg/top-wave.svg");
    background-size: 480px;
    background-repeat: repeat-x;
    z-index: 2;
  }
  .header-main {
    @include header($glitch-color-1, $glitch-color-2, $glitch-color-3, 'ϺØtion ÐesÍgƝ');
  }
  .header-1c {
    @include header($glitch-color-1, $glitch-color-2, $glitch-color-3, '1 Раздел');
  }
  .header-2c {
    @include header($glitch-color-1, $glitch-color-2, $glitch-color-3, '2 Раздел');
  }
  .header-3c {
    @include header($glitch-color-1, $glitch-color-2, $glitch-color-3, '3 Раздел');
  }
  .header-4c {
    @include header($glitch-color-1, $glitch-color-2, $glitch-color-3, '4 Раздел');
  }
  .header-5c {
    @include header($glitch-color-1, $glitch-color-2, $glitch-color-3, '5 Раздел');
  }

  .footer {
    display: table-row;
    text-align: center;
    height: 35px;
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    user-select: none;
  }
}